

<div class="theIcons">
    <img class="icons" src="~/Content/Media/Ingi-Logo.jpeg" />
    <img class="icons" src="https://static.wixstatic.com/media/db36e0_9f977799257f4cdd8353762ce053b6af~mv2.png/v1/fill/w_191,h_80,al_c,q_85,usm_0.66_1.00_0.01/db36e0_9f977799257f4cdd8353762ce053b6af~mv2.webp" />
    <img class="icons" src="~/Content/Media/OTIcon-removebg-preview (1).png" />
</div>

<div class="pageContainer">
    <div class="theHeader">
        <img class="balls" src="~/Content/Media/balls-icons/basketball-removebg-preview.png" />
        <h1 class="welcomeTitle">Welcome to Tzagay's <span class="TheSpans">Sport</span> Store </h1>
        @*<img class="balls" src="~/Content/Media/balls-icons/9feae42c867c849a928eb4e23aedbff97524e535-removebg-preview.png" />*@
        @*<img class="balls" src="~/Content/Media/balls-icons/200-2005056_tennis-ball-icon-clipart-tennis-ball-png-removebg-preview.png" />*@
        @*<img class="balls" src="~/Content/Media/balls-icons/americanFBall-removebg-preview.png" />*@

    </div>

    <video class="vid" autoplay muted>
        <source src="~/Content/Media/adidas _ Ready for Sport.mp4" type="video/mp4" />
    </video>
    <div class="AboutUs">
        <h1 class="aboutUsTitle">About Us</h1>
        <p class="aboutUsP">
            <b>
                <span class="spanMark">Tzagays Sport Store Is A World-Wide Company</span> Thats Have More Than 99 Subsidiaries
                <br />We <span class="spanMark"> BELIEVE</span>
                that life through sports is full of happiness, positive energies and of course health.
                We <span class="spanMark">Collaborate</span> with lots of giant companies like<span class="spanMark"> Nike, Adidas, Puma, Reebok and Asos</span>,We Also
                Sign huge Deals with A lot of top celebs and athletes.
                <span class="spanMark">
                    Come and Join US At -
                    Chicago,Illinos USA ,
                    Main Office Phone - 055-222-5225
                </span>
            </b>
        </p>

    </div>
    <h1 class="devTitle">Developer Info</h1>
    <div class="devInfo">

        <div id="hover">Oshri-el Tzagay</div>
        <div id="stuff">

            <p class="myInfo">
                <b>
                    My Name is Oshri-el Tzagay, I'm Tech-Career Student - Web Development Boot-camp, <br />
                    I'm Highly Motivated
                    with a variety of powerful
                    skills.<br /> a Problem Solver who
                    loves coding, exploring, and
                    understanding how things
                    work.
                    <br /><br />
                    Wanna Contact Me ?
                    <br /><br /><br />
                </b>
                <span class="contactMe">
                    Email : OshriTzagay@gmail.com.<br />
                    Phone : 052-636-7723.
                </span>
                <br />
                More Details Down Below!<br />
                <img id="pointer" src="~/Content/Media/balls-icons/hand-finger-pointing-down-clip-art-pointed-hand-115628852658xrgvmqg2k-removebg-preview.png" />

            </p>
        </div>


    </div>

</div>








































@*<div class="jumbotron">
        <h1>Yalla Shtok</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@